.board {
  padding: 0;
  margin: 15px;
}

.board {
  margin: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  grid-gap: 2.5rem;
  justify-content: center;
}

.item {
  background-color: rgb(7, 7, 7) !important;
  width: 170px;
}
